#header {
	display: fixed;
	background: black;
	height: 100px;

	color: white;
	font-family: Courier New, Courier, monospace;
	font-size: 50px;

}

#name {
	float: left;
	margin-left: 45px;
	margin-top: 20px;
	font-size: 45px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#rightBar {
	margin-right: -280px;
	float: right;
}

#leftBar {
	padding-left: 50px; 
	display: block;
}

#footer {
	margin-top: 37px;
	padding: 10px;
	color: white;
	background: black;
}

img {
	height: 300px;
	width: 300px; 
}

#header > a {
	font-size: 26px;
	float: right;
	padding: 50px;
	font-size: 12px;
}